.toggler {
    background: none;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.toggler > svg {
    fill: inherit;
    width: 32px;
    height: 32px;
}