.heading {
  display: block;
  position: relative;
  font-size: 1.875rem;
  font-weight: 700;
}

.heading h1,
.sliding-text {
  font-size: inherit;
  font-weight: inherit;
}

.heading h1 {
  display: inline;
}

.sliding-text {
  display: inline-block;
}

.ghost {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

@media (min-width: 576px) {
  .heading {
    font-size: 2.5rem;
  }
}
