.hero {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  row-gap: 5vh;
  padding: 5vh 0vw;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 1024px) {
  .hero {
    grid-template-columns: 1fr 1fr;
    /* padding: 10vh 5vw; */
    /* padding: 6vh 5vw; */
  }
}
