.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 10vh 40px;
}

.section h1 {
  margin: 0 0 24px;
  text-align: center;
  font-size: 1.5rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 24px;
  width: 100%;
  height: 400px;
}

.card {
  padding: 16px;
  background-color: var(--bg-color-secondary);
}
