.projects {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
  column-gap: 3%;
  width: 100%;
  text-align: center;
}

@media (min-width: 576px) {
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
