/* .primary,
.secondary {
  transition: background-color 100ms ease-out;
} */

.primary.dark,
.secondary.dark {
  color: #ffffff;
  fill: #ffffff;
}

.primary.dark {
  background-color: rgb(30, 30, 36);
}

.secondary.dark {
  background-color: darkslategray;
}

