.heading {
  margin-bottom: 80px;
}

.icons-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6vw;
  row-gap: 40px;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
}

.icon > span {
  font-weight: 500;
}

.icon > svg {
  width: 5rem;
  height: 5rem;
  margin-bottom: 16px;
}

@media (min-width: 576px) {
  .icons-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
