.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links a:not(:last-child) {
    margin-right: 16px;
}

.links a svg {
    fill: inherit;
    width: 2rem;
    height: 2rem;
}