.footer {
  padding: 48px 5vw;
  display: flex;
  justify-content: center;
}

.footer > div {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 32px;
  text-align: center;
}

.footer > div h2 {
  margin: 0;
}