.section {
  min-height: 100vh;
  padding: 5vh 32px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  filter: blur(2px);
  transition: opacity 300ms ease-out, filter 300ms ease-out;
}

.in-view {
  opacity: 1;
  filter: blur(0px);
}
