.logo {
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  position: relative;
}

.link {
  cursor: inherit;
}

.logo::after {
  content: "👍";
  position: absolute;
  top: -2px;
  left: 108%;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.1s ease-out, transform 0.07s ease-out;
}

.logo:hover::after {
  transform: translateY(0%);
  opacity: 1;
}