.header {
  background-color: var(--bg-color-primary);
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 16px 5vw;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: var(--border-subtle);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  min-height: 10vh;
}